<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://192.168.28.3:3306/dam20_tren?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">dam20</property>
    <property name="hibernate.connection.password">salesianas</property>
    <mapping resource="modelo/Cocheras.hbm.xml"/>
    <mapping resource="modelo/Viajes.hbm.xml"/>
    <mapping resource="modelo/Lineas.hbm.xml"/>
    <mapping resource="modelo/Estaciones.hbm.xml"/>
    <mapping resource="modelo/Trenes.hbm.xml"/>
    <mapping resource="modelo/LineaEstacion.hbm.xml"/>
    <mapping resource="modelo/Accesos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
